<div class="login-layout">
  <div class="login-image-side">
    <img src="Login_background.jpg" alt="CarEcommerce Background" />
  </div>
  <div class="login-form-side">
    <mat-card class="login-card">
      <div class="login-content">
        <img class="login-logo" src="CarEcommerce_logo.png" alt="CarEcommerce Logo" />
        <h1>CarEcommerceAI</h1>
        <p>Encuentra el auto de tus sueños con inteligencia artificial</p>
        <button mat-button (click)="login()">Login</button>
      </div>
    </mat-card>
  </div>
</div>
